apiVersion: v1
kind: Service
metadata:
  name: spring-boot-service
spec:
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30036
  selector:
    app: spring-boot-service
  type: NodePort